#wrapper{
    background-image: url(../img/bg.png) ;
    width: 1920px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 100%;
}

#top_bar{
    border-top: 2em solid #C8344C;
    border-left: 2em solid transparent;
    width: 85%;
    float: right;
}

#slider_1{
    padding-bottom: 50px;
    overflow: hidden;
    float: left;
    margin: 0 auto;
    clear: both;
    width: 100%;
}

#slider_1 p{
    font-family: 'Titillium Web', sans-serif;
    padding-top: 100px;
    margin: 0 auto;
    font-size: 1em;
    width: 100%;
    color: cadetblue;
    overflow: visible;
    position: absolute;
    float: left;
}

#logo{
    margin-top: -40px;
}

#top_nav{
    clear: both;
    font-family: 'Titillium Web', sans-serif;
    list-style: none;
    letter-spacing: -1.5px;
    float: right;
}
#logged_nav{
    clear: both;
    font-family: 'Titillium Web', sans-serif;
    list-style: none;
    letter-spacing: -1.5px;
    float: right;
}

#nav_login:visited{
    color: cadetblue;
}

#socials{
    float: right;
    margin-right: 5%;
    margin-top: -25px;
    font-size: 1.5em;
}
#socials a:visited{
    color: black;
}
#socials a:link{
    color: black;
}
#tr{
    display: table-row !important;
}

i:hover{
    color: #f86e6e;
    transition: color 0.4s ease-in-out;
}

#top_nav li{
    float:left;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#top_nav li a{
    font-weight: 700;
    font-size: 1.5em;
    color: cadetblue;
}
#top_nav li a:hover{
    color: #f86e6e;
    transition: color 0.4s ease-in-out;
}
#logged_nav li{
    float:left;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logged_nav li a{
    font-weight: 700;
    font-size: 1.5em;
    color: cadetblue;
}
#logged_nav li a:hover{
    color: #f86e6e;
    transition: color 0.4s ease-in-out;
}
.uppercase{
    text-transform: uppercase;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
a:link {

    text-decoration: none;
    line-height: inherit;
}


#middle{
    height: 320px;
    background-image: url(../img/bg.png) ;
    overflow: hidden;
    clear: both;
}
#middle_two{
    background-image: url(../img/bg.png) ;
    overflow: hidden;
    clear: both;
    padding-top: 50px;
    padding-bottom: 200px;
}
#middle_three{
    background-image: url(../img/bg.png) ;
    overflow: hidden;
    clear: both;
    padding-bottom: 160px;
    margin-top: -100px;
}

.column_content h3{
    font-family: 'Titillium Web', sans-serif;
    color: cadetblue;
    text-align: center;
}
.column_content p{
    font-family: 'Titillium Web', sans-serif;
    color: captiontext;
}
.column_content a{
    font-family: 'Titillium Web', sans-serif;
    color: cadetblue;
    text-align: center;
}
.column_content a:hover{
    color: #f86e6e;
    transition: color 0.4s ease-in-out;
}

.column_content i{
    color: cadetblue;
    font-size: 5.5em;
    display: block;
    margin-left: 37%;
}
.column_content i:hover{
    color: #f86e6e;
    transition: color 0.4s ease-in-out;
}
.column_content a h3:hover{
    color: #f86e6e;
    transition: color 0.4s ease-in-out;
}

#footer_bar{
    border-bottom: 2em solid #C8344C;
    border-left: 2em solid transparent;
    width: 85%;
    float: right;

}
#footer_nav {
    font-family: 'Titillium Web', sans-serif;
    list-style: none;
    margin-bottom: 0;
    letter-spacing: -1.5px;
    float: left;
}

#footer_nav li{
    float:left;
    padding-left: 15px;

}
#footer_nav li a{
    color: cornsilk;
}
#footer_right{
    float: right;
    overflow: hidden;
    margin-right: 20%;
    font-family: 'Titillium Web', sans-serif;
    color: cornsilk;
}
#footer_content{
    margin-bottom: -60px;
    overflow: hidden;
    height: 30px;
}
.header_bar{
    border-top: 2em solid #C8344C;
    border-right: 2em solid transparent;
    width: 45%;
    float: left;
    clear: right;
}
.header_bar h3{
    margin-top: -35px;
    font-family: 'Titillium Web', sans-serif;
    color: cornsilk;;
    margin-left: 5%;
}
.header_bar2{
    border-top: 1em solid #C8344C;
    border-right: 2em solid transparent;
    border-left: 2em solid transparent;
    width: 35%;
    float: left;
    clear: right;
    position: relative;
    overflow: hidden;
}
.small_bar_left{
    border-bottom: 1em solid #C8344C;
    border-right: 2em solid transparent;
    border-left: 2em solid transparent;
    width: 65%;
    float: left;
    clear: right;
    overflow: hidden;

}
#login_container{
    display: block;
    width: 100%;
    clear: both;
}
.login{
    padding-top: 0;
    clear: both;
    width: 60%;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
}
.login h6{
    font-family: 'Titillium Web', sans-serif;
    color: cadetblue;
}
.confirmation{
    padding-top: 0;
    clear: both;
    width: 60%;
    margin-left: 25%;
    font-family: 'Titillium Web', sans-serif;
}
.confirmation h6{
    font-family: 'Titillium Web', sans-serif;
    color: cadetblue;
}

#song_list .login input{
    color: #c0c0c0;
}
.login a{
    float: right;
}
#register_container{
    display: block;
    width: 100%;
}
#register{
    padding-top: 0;
    clear: both;
    width: 60%;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
}
#register h6{
    font-family: 'Titillium Web', sans-serif;
    color: cadetblue;
}
#register a{
    float: right;
}
#register .dob{
    width: 50%;
}
#register input{
    color: #c0c0c0;
}

.songList{
    clear: both;
}
th, td{
    color: cadetblue;
    font-family: 'Titillium Web', sans-serif;
}

#popup_song_list, #popup_upload_song, #popup_register, #popup_login, #popup_video_list,#popup_upload_video,#popup_edit_song,#popup_edit_video{
    background-image: url(../img/bg.png) ;
}

#confirm_buttons{
    float: left;
    margin-left: 27%;

}

.taken{
    display: none;
    padding: 0.375em 0.25em;
    margin-top: -14px;
    margin-bottom: 1em;
    font-size: 0.75em;
    font-weight: bold;
    background: #c60f13;
    color: white;
}

.errors{
    display: block;
    padding: 0.375em 0.25em;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
    background: #c60f13;
    color: white;
}

#welcome{
    margin-top: -25px;
    float: left;
    margin-left: 70%;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}